.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  background: #f3f2f2;
}

.column {
  height: 450px;
  width: 200px;
  padding: 15px 0;
  opacity: 80%;
  position: relative;
  top: 10%;
  font-family: "Roboto", sans-serif;
  color: #f3f2f2;
  font-weight: 800;
  border-radius: 17px;
  border: #dddcdc solid 1px;
  background: #44aaee;
  box-shadow: 7px 7px 25px #cfcece, -7px -7px 25px #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movable-item {
  padding: 10px 0;
  font-weight: 400;
  color: #383838;
  border-radius: 10px;
  border: #dddcdc solid 1px;
  background-color: #f3f2f2;
  height: 80px;
  width: 170px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
